@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    font-family: 'Kumbh Sans', sans-serif;
    
}

body::-webkit-scrollbar{
    display: none;
}





li{
    padding-left: 10px;
    text-transform: capitalize;
    font-size: 20px;
}